
@media only screen and(max-width:700px){
	
	
	
	/* .design .card{ */
	
	/* max-width:300px; */
	/* max-height:400px;} */

}





@media(max-width:1024px){
.skills-section .container .box{

	width:auto;
	
}
	
}

@media(max-width:991px){
	.text-conent{
		width:100%;
	}
	/* navbar brand */
	.navigation-wrap .navbar-brand{
		
	}
	.navigation-wrap {
		text-align:center;
		background-color:#272630;
	}
	.navigation-wrap .navbar-link{
		line-height:1.875rem;
		
	}
	
	
}
@media(max-width:767px){
	

}


@media(max-width:400px){
	
.top-banner .container .text .mt-4 .main-btn{
	font-size:0.8rem;
	align-items:center;
	/* width:auto; */
}

.top-banner .container .text .mt-4 .white-btn{
	font-size:0.8rem;
	align-items:center;
	
}



/* .container .form .contact-form  { */
	/* font-size:0.05rem; */
	/* width:20%; */
/* } */
.form-input{
	font-size:1rem;
}

.contact-form h3{
	font-size:1.2rem;
}


}
@media(max-width:767px){
	.top-banner .container .text .h1 span{
	font-size:0.02rem;
	color:red;
	}
}